<footer>
  <span>
    <a class="header-links" href="#about">About</a> |
    <a class="header-links" href="#projects">Projects</a> |
  </span>
  <span>
    <a  class="header-links" href="mailto:dalehollocher@gmail.com">Email</a> |
    <a  class="header-links" href="http://github.com/hollocherDale">Github</a> |
    <a  class="header-links" href="https://twitter.com/hollocherdale">Twitter</a> |
    <a  class="header-links" href="http://www.linkedin.com/pub/dale-hollocher/93/11/377/">LinkedIn</a>
  </span>
  <br /><br />
    <img id="footer-logo" src="images/bluetrans_pinecone.png", height='100'>
</footer>

