<footer class="footer">
  <span>
    <a class="header-links" href="#projects">Projects</a> |
    <a class="header-links" href="#about">About</a> |
    <a class="header-links" href="#contact">Contact</a> |
    <a class="header-links" href="#essay">Essay</a></span><br /><br />
    <%= image_tag "images/bluetrans_pinecone.png", height: "100px", id: "footer-logo"%>
</footer>

