<header class="header" id="top">
  <h1 id="header-title">
    Dale Hollocher
  </h1>
  <span>
    <a class="header-links" href="#about">About</a> |
    <a class="header-links" href="#projects">Projects</a> |
    <a class="header-links" href="#blog">Blog</a>
  </span>
</header>